/*
 * sidebar
 */

div.post-w-sidebar {
  float: left;
  width: 70%;
}

div.sidebar {
  float: right;
  padding: 2px;
}

div.sidebar a {
  display: block;
}

@media screen and (max-width: 800px) {
  div.post-w-sidebar {
    width: 100%;
  }
  div.sidebar {
    float: left;
  }
}

/* title area */

header.site-header {
  background: #7F9FB7;
}

header.site-header > div.wrapper {
  text-align: center;
}

.site-title {
  float: none;
}

/* default nav */

nav.site-nav {
  float: none;
  clear: both;
}

/* default footer */

footer.site-footer {
  display: none;
}
