<nav id="categories">
<a href="{{ site.baseurl }}/art.html">Art</a>
<a href="{{ site.baseurl }}/featured.html">Featured</a>
<a href="{{ site.baseurl }}/higher_education.html">Higher Education</a>
<a href="{{ site.baseurl }}/journalism.html">Journalism</a>
<a href="{{ site.baseurl }}/math_ed_research.html">Math Ed Research</a>
<a href="{{ site.baseurl }}/primary_education.html">Primary Education</a>
<a href="{{ site.baseurl }}/publisher.html">Publisher</a>
<a href="{{ site.baseurl }}/recreational.html">Recreational</a>
<a href="{{ site.baseurl }}/research.html">Research</a>
<a href="{{ site.baseurl }}/sciences_humanities.html">Sciences&amp;Humanities</a>
<a href="{{ site.baseurl }}/secondary_education.html">Secondary Education</a>
<a href="{{ site.baseurl }}/technology.html">Technology</a>
</nav>