<div class="sidebar">
  <br/>
  <a href="{{ site.baseurl }}/">Editor's picks (home)</a>
  <a href="{{ site.baseurl }}/about">About</a>
  <br/>
  <p><strong>Categories</strong>
  <a href="{{ site.baseurl }}/Education.html">Education</a>
  <a href="{{ site.baseurl }}/Journalism.html">Journalism</a>
  <a href="{{ site.baseurl }}/Research.html">Research</a>
  <a href="{{ site.baseurl }}/Teaching.html">Teaching</a>
  <a href="{{ site.baseurl }}/Recreational.html">Recreational</a>
  <a href="{{ site.baseurl }}/Web.html">Web</a>
</div>

