<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
<!--
      <div class="wrapper">
-->
        {{ content }}
<!--
      </div>
-->
    </div>

<!--
    {% include footer.html %}
-->
  <script type="text/javascript">
  (function(){
    var url = document.URL.substring(27);
    if (url === '/'){
      document.querySelectorAll('a[href="'+url+'"]')[1].className = "current";
    }
    else {
      document.querySelectorAll('a[href="'+url+'"]')[0].className = "current";
    }
  })();
  </script>

  </body>

</html>
